/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --white: #f9f9f5;
  --black: #000;
  --primary-color: #0078B7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--white);
}