<div class="card" (click)="staticModal.show()">
  <div class="d-flex justify-content-between p-2">
    <div>
      <strong>{{ cardItem.modelo }}</strong>
      <p class="mb-0">{{cardItem.marca}}</p>
    </div>
    <div class="d-flex align-items-end">
      <small>{{cardItem.ano}}</small>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Detalhes do veículo</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-details-modal [itemDetails]="cardItem"></app-details-modal>
      </div>
    </div>
  </div>
</div>
