<p-toast
  position="top-right"
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
  [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"
  
></p-toast>

<app-header></app-header>

@if (dataVehicles.length > 0) {
  <app-car-table 
    [carList]="dataVehicles"
    (carListEvent)="handleCarListAction($event)"
    (deleteCarListEvent)="handleDeleteProductAction($event)"
  ></app-car-table>
} @else {
  <p-card styleClass="shadow-3 m-5 py-4 px-2">
    <div class="flex flex-column align-items-center mx-4 gap-3">
      <h2>Nenhum Veículo Registrado</h2>
      <p-button
        styleClass="p-button-info"
        icon="pi pi-plus"
        label="Adicionar"
        pTooltip="Adicionar Veículo"
        tooltipPosition="top"
        (onClick)="addCarList()"
      >
  
      </p-button>
    </div>
    
  </p-card>
}

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>